<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="conDSD" connectionString="Data Source=d1bbf043-b848-4d91-adca-a684000ec8b6.sqlserver.sequelizer.com;Initial Catalog=dbd1bbf043b8484d91adcaa684000ec8b6;User ID=jucshrokoisaucka; Password=8KBUKksRTVUiYpjwTQUdbNKLUvVJDhwdZBTBYpSkDw7C5xGtkvpguuasaXapwQmK; Encrypt=False;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IBankOperation" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://sistemas.apphb.com/BankOperation.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBankOperation"
        contract="BankOperationWS.IBankOperation" name="BasicHttpBinding_IBankOperation" />
    </client>
  </system.serviceModel>
</configuration>